﻿@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title</h2>
<br />

<p>Website made by 4 ISIMA students : </p>
<ul>
    <li>Emmanuel PIERRAIN - Emmanuel.PIERRAIN@etu.uca.fr</li>
    <li>Dorian SELIMOVIC - Dorian.SELIMOVIC@etu.uca.fr </li>
    <li>Raphael LIGORIO - Raphael.LIGORIO@etu.uca.fr</li>
    <li>Thibault SIGNARBIEUX - Thibault.SIGNARBIEUX@etu.uca.fr</li>
</ul>
<br />
<address>
    ISIMA<br />
    Campus des Cézeaux<br />
    63170 AUBIERE<br />
    FRANCE<br />
</address>