﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HODOR THE GAME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <a href="/Duel/Index"><h3 class="margin">PLAY NOW !</h3></a>
        <a href="/Duel/Index"><img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-05/5/15/campaign_images/webdr10/this-mind-blowing-game-of-thrones-theory-might-ex-2-28981-1462475349-4_dblbig.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"></a>
        <h3>Get 100 coins when you start playing and bet on Duels and Fights <br />between Game of Thrones Houses featuring your favorite characters !</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Disclaimer : If you lose all your money you can still buy more (100 gold = $4.99)</h3>
    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">We accept Bitcoins.</h3><br>
    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
        <p>Winter is coming</p>
    </footer>

</body>
</html>
