﻿@model IEnumerable<WebApplication.Models.DuelModel>

@{
    ViewBag.Title = "Play";
}
<br />
<h2>Play</h2>
<br />
<h3><a href="http://localhost:1235/Duel/Index">Generate new duels</a></h3>

@foreach (var item in Model)
{<br />
    <div class="row">
        <div style="float:left;width:60%;">
            <h2>Duel @Html.DisplayFor(modelItem => item.Id)</h2>
            <h3>@Html.DisplayFor(modelItem => item.Character1.firstName) @Html.DisplayFor(modelItem => item.Character1.lastName) <b>VS</b> @Html.DisplayFor(modelItem => item.Character2.firstName) @Html.DisplayFor(modelItem => item.Character2.lastName)</h3>
            <h3>Cote 1 : @Html.DisplayFor(modelItem => item.Cote1) <b>|</b> Cote 2 : @Html.DisplayFor(modelItem => item.Cote2)</h3>
        </div>
        <div style="margin-left:60%;">
            <h3>Bet here !</h3>
            <form action="http://localhost:4205/Duel/Create/1" method="post">
                <label for="choice">The character on whom you bet :</label>
                <input type="number" min="1" max="2" name="choice" id="choice" required />
                <label for="bet">Your bet :</label>
                <input type="number" min="0" max="100" name="mise" id="bet" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="BET" />
            </form>
        </div>
    </div>
}