﻿@model IEnumerable<WebApplication.Models.CharacterModel>

@{
    ViewBag.Title = "Characters";
}
<br />
<h2>View</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bravoury)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crazyness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Health)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bravoury)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crazyness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Health)
        </td>
    </tr>
}

</table>
