﻿@model WebApiGot.Models.CharacterDTO

@{
    ViewBag.Title = "Details";
}
@{
    var rvd = new RouteValueDictionary(Model);
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <p>
        @rvd["bravoury"]
    </p>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

