﻿@model float

@{
    ViewBag.Title = "RESULT";
}

<h2>RESULT</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Duel</h4>
        <hr />
       
        <p style="font-size:40px;">Your money : @Model</p>
        <h2><a href="http://localhost:1235/Duel/Index">Go back to duels menu</a></h2>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
